################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wordsmart/Wordsmart/x64/Debug/Wordsmart.tlog
/Wordsmart/Wordsmart.VC.VC.opendb
