<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Wordsmart_TargetDir=$(var.Wordsmart.TargetDir)?>
  <Product Id="0411ABF7-5AA2-4828-83BA-BAD324A9EC79" Name="$(var.Wordsmart.TargetFileName)" Language="1033" Version="1.0.0.0" Manufacturer="Jaebum Lee" UpgradeCode="e9bc1ce9-8c58-47fc-be13-30070e600719">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Wordsmart" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentGroupRef Id="PlatformDLL" />
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 14.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>
 
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"></Property>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.Wordsmart_TargetDir)LICENSE.rtf" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Wordsmart">
          <Directory Id="platforms" Name="platforms" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Wordsmart"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="F599B885-5A51-4E6B-A8E8-DFC086ED6390">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Wordsmart" Description="Wordsmart" Target="[INSTALLFOLDER]Wordsmart.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Wordsmart" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="A4D9F9B8-CBB6-4960-9312-58A7161A24DA">
        <Shortcut Id="ApplicationDesktopShortcut" Name="Wordsmart" Description="Wordsmart" Target="[INSTALLFOLDER]Wordsmart.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Wordsmart" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="$(var.Wordsmart_TargetDir)Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Wordsmart.exe" Guid="bcdc9128-93d6-4f42-a229-8a9f8ae39aef">
        <File Id="Wordsmart.exe" Name="Wordsmart.exe" Source="$(var.Wordsmart_TargetDir)Wordsmart.exe" />
      </Component>
      <Component Id="Qt5Core.dll" Guid="E1D5DADC-8B34-4716-AF58-A1199F69C5A4">
        <File Id="Qt5Core.dll" Name="Qt5Core.dll" Source="$(var.Wordsmart_TargetDir)Qt5Core.dll" />
      </Component>
      <Component Id="Qt5Gui.dll" Guid="3BEC8E55-6A00-485E-8C63-D4F2E67CF896">
        <File Id="Qt5Gui.dll" Name="Qt5Gui.dll" Source="$(var.Wordsmart_TargetDir)Qt5Gui.dll" />
      </Component>
      <Component Id="Qt5Network.dll" Guid="5874A0EA-0295-47EF-BFF6-9DCFFA086195">
        <File Id="Qt5Network.dll" Name="Qt5Network.dll" Source="$(var.Wordsmart_TargetDir)Qt5Network.dll" />
      </Component>
      <Component Id="Qt5Widgets.dll" Guid="80C526D2-F248-446E-93AC-077A5D063733">
        <File Id="Qt5Widgets.dll" Name="Qt5Widgets.dll" Source="$(var.Wordsmart_TargetDir)Qt5Widgets.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="PlatformDLL" Directory="platforms">
      <Component Id="qwindows.dll" Guid="3262BCE7-82E2-4834-8E05-6BDE71395FB9">
        <File Id="qwindows.dll" Name="qwindows.dll" Source="$(var.Wordsmart_TargetDir)platforms\qwindows.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
